<div class="blank-layout-container justify-content-center align-items-center">
  <div class="position-relative row w-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="mat-mdc-card mdc-card cardWithShadow boxed-auth">
        <mat-card-content class="mat-mdc-card-content p-32">
          <div class="text-center">
            <a href="/">
              <img
                src="./assets/images/logos/dark-logo.svg"
                alt="logo"
                class="align-middle m-2"
              />
            </a>
          </div>
          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button
                mat-button
                class="w-100 login-buttons mdc-button mdc-button--outlined mat-mdc-outlined-button"
                (click)="loginWithGoogle()"
              >
                <span class="mdc-button__label">
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/svgs/google-icon.svg"
                      alt="google"
                      width="16"
                      class="m-r-8"
                    />
                    Sign in with Google
                  </div>
                </span>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button
                mat-button
                class="w-100 login-buttons mdc-button mdc-button--outlined mat-mdc-outlined-button"
                (click)="loginWithFacebook()"
              >
                <span class="mdc-button__label">
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/images/svgs/facebook-icon.svg"
                      alt="facebook"
                      width="40"
                      class="m-r-8"
                    />
                    Sign in with FB
                  </div>
                </span>
              </button>
            </div>
          </div>
          <div class="or-border m-t-30">
            or sign in with
          </div>
          <form [formGroup]="loginForm" class="m-t-30" (ngSubmit)="login()">
            <mat-label class="f-w-600 f-s-14 m-b-12 d-block">Email</mat-label>
            <mat-form-field class="mat-mdc-form-field w-100" appearance="outline">
              <input
                matInput
                formControlName="username"
                required
              />
              <mat-hint align="end" class="m-b-16 error-msg">
               
               
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
               
                  <div class="text-error m-b-16" *ngIf="username?.errors?.['required']">Email is required</div>
                  <div class="text-error m-b-16" *ngIf="username?.errors?.['email']">Enter a valid email</div>
                </div>
              </mat-hint>
            </mat-form-field>

            <mat-label class="f-w-600 f-s-14 m-b-12 d-block">Password</mat-label>
            <mat-form-field class="mat-mdc-form-field w-100" appearance="outline">
              <input
                matInput
                formControlName="password"
                type="password"
                required
              />
              <mat-hint align="end" class="m-b-16 error-msg">
              
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                  <div *ngIf="loginErrorMessage" class="text-error m-b-16">{{loginErrorMessage}}</div>
                  <div class="text-error" *ngIf="password?.errors?.['required']">Password is required</div>
                  <div class="text-error" *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long</div>
                </div>
              </mat-hint>
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              
                <mat-checkbox formControlName="rememberDevice">Remember this Device</mat-checkbox>
              
              <a class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14" [routerLink]="['/password-reset']">Forgot Password ?</a>
            </div>
            <button type="submit" class="w-100" mat-flat-button color="primary" [disabled]="loginForm.invalid">Sign In</button>
          </form>
          <span class="d-block f-w-500 text-center m-t-24">
            New to Materialpro?
            <a class="text-decoration-none text-primary f-w-500 f-s-14" [routerLink]="['/signup']">Create an account</a>
          </span>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
