
<div class="p-x-32">
  <div class="d-flex align-items-center p-b-24 b-b-1">
    <img [src]="auth.currentUser?.photoURL" width="95" class="rounded-circle" />
    <div class="m-l-16">
      <h6 class="f-s-14 f-w-600 m-0 mat-subtitle-1">
        {{ auth.currentUser?.displayName }}
      </h6>
      <span class="f-s-14 d-align">
        <mat-icon class="m-r-4 material-icons-outlined">mail</mat-icon>
        {{ auth.currentUser?.email }}
      </span>
    </div>
  </div>


  <a
    class="p-y-16 text-decoration-none d-block text-hover-primary ng-star-inserted"
    href="/"
    ><div class="d-flex align-items-center">
      <button
        class="text-primary rounded"
        mat-mini-fab
        aria-label="Example icon button with a heart icon"
      >
        <span class="mdc-button__label">
          <img width="20" src="./assets/images/svgs/icon-account.svg" />
        </span>
      </button>
      <div class="m-l-16">
        <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
          My Profile
        </h5>
        <span class="mat-body-1">Account Settings</span>
      </div>
    </div></a
  ><a
    class="p-y-16 text-decoration-none d-block text-hover-primary ng-star-inserted"
    href="/apps/email/inbox"
  >
    <div class="d-flex align-items-center">
      <button class="rounded" mat-mini-fab aria-label="mailbox">
        <span class="mdc-button__label">
          <img width="20" src="./assets/images/svgs/icon-inbox.svg" />
        </span>
      </button>
      <div class="m-l-16">
        <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
          My Inbox
        </h5>
        <span class="mat-body-1">Messages &amp; Email</span>
      </div>
    </div></a
  ><a
    class="p-y-16 text-decoration-none d-block text-hover-primary ng-star-inserted"
    href="/apps/taskboard"
    ><div class="d-flex align-items-center">
      <button
        mat-mini-fab=""
        class="text-primary bg-light-primary shadow-none rounded mdc-fab mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base"
        mat-ripple-loader-uninitialized=""
        mat-ripple-loader-class-name="mat-mdc-button-ripple"
      >
        <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span
        ><span class="mdc-button__label"
          ><img width="20" src="/assets/images/svgs/icon-tasks.svg" /></span
        ><span class="mat-mdc-focus-indicator"></span
        ><span class="mat-mdc-button-touch-target"></span>
      </button>
      <div class="m-l-16">
        <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
          My Tasks
        </h5>
        <span class="mat-body-1">To-do and Daily Tasks</span>
      </div>
    </div></a
  >

<div class="p-y-12 p-x-32">
  <button class="w-100 logout-button" mat-stroked-button (click)="logout()">
    Logout
  </button>
</div>
</div>