<div class="blank-layout-container justify-content-center align-items-center">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="mat-mdc-card mdc-card cardWithShadow boxed-auth"
        ><mat-card-content class="mat-mdc-card-content p-32"
          ><div class="text-center">
            <a href="/dashboards/dashboard1" class="ng-star-inserted"
              ><img
                src="./assets/images/logos/gym-book-black.png"
                alt="logo"
                class="align-middle m-2 logo"
            /></a>
          </div>
          <span class="f-s-14 d-block mat-body-1 m-t-8 text-center m-t-30"
            >Please enter the email address associated with your account and We
            will email you a link to reset your password.</span
          >
          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Email Adddress</mat-label
            >
            <mat-form-field class="w-100" appearance="outline" color="primary">
              <input matInput type="email" [formControl]="email" />
            </mat-form-field>
            <button (click)="resetPassword($event)" class="w-100" mat-flat-button>Forgot Password</button>
            <button class="w-100 m-t-8" mat-stroked-button color="primary" [routerLink]="['/login']">
              Back To Login
            </button>
          </form></mat-card-content
        ></mat-card
      >
    </div>
  </div>
</div>
