<span class="m-l-auto new-badge">
  <span class="bg-primary text-white p-x-8 p-y-4 f-w-500 rounded f-s-12">
    {{ store.count() }} new
  </span>
</span>
@for (notification of store.notifications(); track notification) {
<mat-list #notifications class="p-b-16 notification-item">

    <div class="notification-content">
      <button class="mat-mdc-menu-item">
        <div class="d-flex align-items-center">
          <img
            width="48"
            class="rounded-circle m-r-16"
            [src]="notification.userPhoto"
          />
          <div class="m-l-16">
            <h5 class="f-s-14 f-w-600 m-0 mat-subtitle-1">
              {{ notification.title }}
            </h5>
            <span>{{ notification.body }}</span>
          </div>
        </div>
      </button>
      
  
      <app-notification-actions 
        [notification]="notification" 
        (onActionClick)="handleActionClick($event, notification.messageId)"
      ></app-notification-actions>
    </div>

</mat-list>
}