// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$booking-app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($booking-app-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($theme);
/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
html,
body {
  font-family: Poppins, sans-serif !important;
  color: #2a3547;
  font-size: 14px !important;
  line-height: 1.334rem;
  height: 100%;
  overflow: hidden;
  content: "";
  width: 100%;
  // opacity: 0.3;
  background: radial-gradient(#d2f1df, #d3d7fa, #bad8f4) 0% 0%/400% 400%;
  animation: 15s ease 0s infinite normal none running gradient;
  margin: 0;
  padding: 0;
}

.mat-ripple {
  overflow: hidden;
  position: relative;
}
.mat-ripple:not(:empty) {
  transform: translateZ(0);
}
.mat-ripple.mat-ripple-unbounded {
  overflow: visible;
}
.mat-ripple-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale3d(0, 0, 0);
  background-color: var(--mat-ripple-color, rgba(0, 0, 0, 0.1));
}

*,
:after,
:before {
  box-sizing: border-box;
}

html .mat-drawer-container {
  background-color: #fff;
}
.mainWrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex: 1;
  height: 100%;
}
.pageWrapper {
  padding: 24px;
  min-height: calc(100vh - 70px);
  margin: 0 auto;
}
.pageWrapper.maxWidth {
  max-width: 1200px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.shadow-none {
  box-shadow: none !important;
}
.rounded {
  border-radius: 7px !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.rounded-pill {
  border-radius: 25px !important;
}
.overflow-hidden {
  overflow: hidden;
}
.text-decoration-none {
  text-decoration: none;
}
.position-relative {
  position: relative;
}
.table-responsive {
  overflow-x: auto;
}
.table-responsive td,
.table-responsive mat-cell {
  white-space: nowrap;
  padding: 16px;
}
@media (max-width: 991px) {
  .table-responsive-sm {
    overflow-x: auto;
  }
}
.op-5 {
  opacity: 0.5;
}
.cursor-pointer {
  cursor: pointer;
}

.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@keyframes blow {
  0% {
    box-shadow: 0 0 #0000001a;
    opacity: 1;
    transform: scaleZ(0.5);
  }
  50% {
    box-shadow: 0 0 0 10px #0000001a;
    opacity: 1;
    transform: scaleZ(0.5);
  }
  to {
    box-shadow: 0 0 0 20px #0000001a;
    opacity: 0;
    transform: scaleZ(0.5);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.offset-1 {
  margin-left: 8.3333333333%;
}
.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.offset-2 {
  margin-left: 16.6666666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.offset-3 {
  margin-left: 25%;
}
.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.offset-4 {
  margin-left: 33.3333333333%;
}
.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.offset-5 {
  margin-left: 41.6666666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.offset-6 {
  margin-left: 50%;
}
.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.offset-7 {
  margin-left: 58.3333333333%;
}
.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.offset-8 {
  margin-left: 66.6666666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.offset-9 {
  margin-left: 75%;
}
.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.offset-10 {
  margin-left: 83.3333333333%;
}
.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.offset-11 {
  margin-left: 91.6666666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.offset-12 {
  margin-left: 100%;
}
@media (min-width: 600px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 960px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1280px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 2100px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  body .d-lg-flex {
    display: flex !important;
  }
  body .d-lg-none {
    display: none !important;
  }
  body .align-items-lg-center {
    align-items: center !important;
  }
}
@media (min-width: 768px) {
  body .d-sm-flex {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .p-xs-6 {
    padding: 0 6px !important;
  }
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-1-auto {
  flex: 1 1 0%;
}
.list-style-none {
  list-style: none;
}
.lh-lg {
  line-height: 36px !important;
}
.lh-sm {
  line-height: 20px !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-grid {
  display: grid !important;
}
.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-none {
  display: none !important;
}
.flex-fill {
  flex: 1 1 auto !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-col {
  flex-direction: column !important;
}
.flex-col-reverse {
  flex-direction: column-reverse !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.align-content-start {
  align-content: flex-start !important;
}
.align-content-end {
  align-content: flex-end !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-around {
  align-content: space-around !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-self-auto {
  align-self: auto !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-stretch {
  align-self: stretch !important;
}
.m-0 {
  margin: 0 !important;
}
.m-0-auto {
  margin: 0 auto !important;
}
.m-2 {
  margin: 2px !important;
}
.m-4 {
  margin: 4px !important;
}
.m-6 {
  margin: 7px !important;
}
.m-8 {
  margin: 8px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-12 {
  margin: 12px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-16 {
  margin: 16px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-24 {
  margin: 24px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-32 {
  margin: 32px !important;
}
.m-48 {
  margin: 48px !important;
}
.m-auto {
  margin: auto !important;
}
.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.m-x-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.m-x-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m-x-6 {
  margin-left: 7px !important;
  margin-right: 7px !important;
}
.m-x-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.m-x-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.m-x-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m-x-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.m-x-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.m-x-48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}
.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-y-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.m-y-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.m-y-6 {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}
.m-y-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-y-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.m-y-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-y-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-y-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.m-y-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}
.m-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-t-2 {
  margin-top: 2px !important;
}
.m-t-4 {
  margin-top: 4px !important;
}
.m-t-6 {
  margin-top: 7px !important;
}
.m-t-8 {
  margin-top: 8px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-12 {
  margin-top: 12px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-16 {
  margin-top: 16px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-24 {
  margin-top: 24px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-32 {
  margin-top: 32px !important;
}
.m-t-48 {
  margin-top: 48px !important;
}
.m-t-auto {
  margin-top: auto !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-2 {
  margin-bottom: 2px !important;
}
.m-b-4 {
  margin-bottom: 4px !important;
}
.m-b-6 {
  margin-bottom: 7px !important;
}
.m-b-8 {
  margin-bottom: 8px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-12 {
  margin-bottom: 12px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-16 {
  margin-bottom: 16px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-24 {
  margin-bottom: 24px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-b-32 {
  margin-bottom: 32px !important;
}
.m-b-48 {
  margin-bottom: 48px !important;
}
.m-b-auto {
  margin-bottom: auto !important;
}
.m--2 {
  margin: -2px !important;
}
.m--4 {
  margin: -4px !important;
}
.m--6 {
  margin: -7px !important;
}
.m--8 {
  margin: -8px !important;
}
.m--10 {
  margin: -10px !important;
}
.m--12 {
  margin: -12px !important;
}
.m--15 {
  margin: -15px !important;
}
.m--16 {
  margin: -16px !important;
}
.m--20 {
  margin: -20px !important;
}
.m--24 {
  margin: -24px !important;
}
.m--30 {
  margin: -30px !important;
}
.m--32 {
  margin: -32px !important;
}
.m--48 {
  margin: -48px !important;
}
.m-x--2 {
  margin-left: -2px !important;
  margin-right: -2px !important;
}
.m-x--4 {
  margin-left: -4px !important;
  margin-right: -4px !important;
}
.m-x--6 {
  margin-left: -7px !important;
  margin-right: -7px !important;
}
.m-x--8 {
  margin-left: -8px !important;
  margin-right: -8px !important;
}
.m-x--10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.m-x--12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
.m-x--15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.m-x--16 {
  margin-left: -16px !important;
  margin-right: -16px !important;
}
.m-x--20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.m-x--24 {
  margin-left: -24px !important;
  margin-right: -24px !important;
}
.m-x--30 {
  margin-left: -30px !important;
  margin-right: -30px !important;
}
.m-x--32 {
  margin-left: -32px !important;
  margin-right: -32px !important;
}
.m-x--48 {
  margin-left: -48px !important;
  margin-right: -48px !important;
}
.m-y--2 {
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}
.m-y--4 {
  margin-top: -4px !important;
  margin-bottom: -4px !important;
}
.m-y--6 {
  margin-top: -7px !important;
  margin-bottom: -7px !important;
}
.m-y--8 {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}
.m-y--10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.m-y--12 {
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}
.m-y--15 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.m-y--16 {
  margin-top: -16px !important;
  margin-bottom: -16px !important;
}
.m-y--20 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}
.m-y--24 {
  margin-top: -24px !important;
  margin-bottom: -24px !important;
}
.m-y--30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}
.m-y--32 {
  margin-top: -32px !important;
  margin-bottom: -32px !important;
}
.m-y--48 {
  margin-top: -48px !important;
  margin-bottom: -48px !important;
}
.m-t--2 {
  margin-top: -2px !important;
}
.m-t--4 {
  margin-top: -4px !important;
}
.m-t--6 {
  margin-top: -7px !important;
}
.m-t--8 {
  margin-top: -8px !important;
}
.m-t--10 {
  margin-top: -10px !important;
}
.m-t--12 {
  margin-top: -12px !important;
}
.m-t--15 {
  margin-top: -15px !important;
}
.m-t--16 {
  margin-top: -16px !important;
}
.m-t--20 {
  margin-top: -20px !important;
}
.m-t--24 {
  margin-top: -24px !important;
}
.m-t--30 {
  margin-top: -30px !important;
}
.m-t--32 {
  margin-top: -32px !important;
}
.m-t--48 {
  margin-top: -48px !important;
}
.m-r--2 {
  margin-right: -2px !important;
}
.m-r--4 {
  margin-right: -4px !important;
}
.m-r--6 {
  margin-right: -7px !important;
}
.m-r--8 {
  margin-right: -8px !important;
}
.m-r--10 {
  margin-right: -10px !important;
}
.m-r--12 {
  margin-right: -12px !important;
}
.m-r--15 {
  margin-right: -15px !important;
}
.m-r-16 {
  margin-right: 16px !important;
}
.m-r--16 {
  margin-right: -16px !important;
}
.m-r--20 {
  margin-right: -20px !important;
}
.m-r--24 {
  margin-right: -24px !important;
}
.m-r--30 {
  margin-right: -30px !important;
}
.m-r--32 {
  margin-right: -32px !important;
}
.m-r--48 {
  margin-right: -48px !important;
}
.m-b--2 {
  margin-bottom: -2px !important;
}
.m-b--4 {
  margin-bottom: -4px !important;
}
.m-b--6 {
  margin-bottom: -7px !important;
}
.m-b--8 {
  margin-bottom: -8px !important;
}
.m-b--10 {
  margin-bottom: -10px !important;
}
.m-b--12 {
  margin-bottom: -12px !important;
}
.m-b--15 {
  margin-bottom: -15px !important;
}
.m-b--16 {
  margin-bottom: -16px !important;
}
.m-b--20 {
  margin-bottom: -20px !important;
}
.m-b--24 {
  margin-bottom: -24px !important;
}
.m-b--30 {
  margin-bottom: -30px !important;
}
.m-b--32 {
  margin-bottom: -32px !important;
}
.m-b--48 {
  margin-bottom: -48px !important;
}
.m-l--2 {
  margin-left: -2px !important;
}
.m-l--4 {
  margin-left: -4px !important;
}
.m-l--6 {
  margin-left: -7px !important;
}
.m-l--8 {
  margin-left: -8px !important;
}
.m-l--10 {
  margin-left: -10px !important;
}
.m-l--12 {
  margin-left: -12px !important;
}
.m-l--15 {
  margin-left: -15px !important;
}
.m-l--16 {
  margin-left: -16px !important;
}
.m-l--20 {
  margin-left: -20px !important;
}
.m-l--24 {
  margin-left: -24px !important;
}
.m-l--30 {
  margin-left: -30px !important;
}
.m-l--32 {
  margin-left: -32px !important;
}
.m-l--48 {
  margin-left: -48px !important;
}
.p-0 {
  padding: 0 !important;
}
.p-2 {
  padding: 2px !important;
}
.p-4 {
  padding: 4px !important;
}
.p-6 {
  padding: 7px !important;
}
.p-8 {
  padding: 8px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-12 {
  padding: 12px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-16 {
  padding: 16px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-24 {
  padding: 24px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-32 {
  padding: 32px !important;
}
.p-48 {
  padding: 48px !important;
}
.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-x-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.p-x-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p-x-6 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.p-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.p-x-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p-x-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p-x-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.p-x-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-x-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-y-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.p-y-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.p-y-6 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.p-y-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-y-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.p-y-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-y-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-y-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.p-y-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-t-2 {
  padding-top: 2px !important;
}
.p-t-4 {
  padding-top: 4px !important;
}
.p-t-6 {
  padding-top: 7px !important;
}
.p-t-8 {
  padding-top: 8px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-t-12 {
  padding-top: 12px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-t-16 {
  padding-top: 16px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-t-24 {
  padding-top: 24px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-t-32 {
  padding-top: 32px !important;
}
.p-t-48 {
  padding-top: 48px !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-b-2 {
  padding-bottom: 2px !important;
}
.p-b-4 {
  padding-bottom: 4px !important;
}
.p-b-6 {
  padding-bottom: 7px !important;
}
.p-b-8 {
  padding-bottom: 8px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-b-12 {
  padding-bottom: 12px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-b-16 {
  padding-bottom: 16px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-b-24 {
  padding-bottom: 24px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-b-32 {
  padding-bottom: 32px !important;
}
.p-b-48 {
  padding-bottom: 48px !important;
}
.gap-0 {
  gap: 0 !important;
}
.gap-2 {
  gap: 2px !important;
}
.gap-4 {
  gap: 4px !important;
}
.gap-6 {
  gap: 7px !important;
}
.gap-8 {
  gap: 8px !important;
}
.gap-10 {
  gap: 10px !important;
}
.gap-12 {
  gap: 12px !important;
}
.gap-15 {
  gap: 15px !important;
}
.gap-16 {
  gap: 16px !important;
}
.gap-20 {
  gap: 20px !important;
}
.gap-24 {
  gap: 24px !important;
}
.gap-30 {
  gap: 30px !important;
}
.gap-32 {
  gap: 32px !important;
}
.gap-48 {
  gap: 48px !important;
}
.b-0 {
  border: 0 !important;
}
.b-1 {
  border: 1px solid #e5eaef !important;
}
.b-2 {
  border: 2px solid #e5eaef !important;
}
.b-4 {
  border: 4px solid #e5eaef !important;
}
.b-8 {
  border: 8px solid #e5eaef !important;
}
.b-t-0 {
  border-top: 0 !important;
}
.b-t-1 {
  border-top: 1px solid #e5eaef !important;
}
.b-t-2 {
  border-top: 2px solid #e5eaef !important;
}
.b-t-4 {
  border-top: 4px solid #e5eaef !important;
}
.b-t-8 {
  border-top: 8px solid #e5eaef !important;
}
.b-b-0 {
  border-bottom: 0 !important;
}
.b-b-1 {
  border-bottom: 1px solid #e5eaef !important;
}
.b-b-2 {
  border-bottom: 2px solid #e5eaef !important;
}
.b-b-4 {
  border-bottom: 4px solid #e5eaef !important;
}
.b-b-8 {
  border-bottom: 8px solid #e5eaef !important;
}
.b-l-0 {
  border-left: 0 !important;
}
.b-l-1 {
  border-left: 1px solid #e5eaef !important;
}
.b-l-2 {
  border-left: 2px solid #e5eaef !important;
}
.b-l-4 {
  border-left: 4px solid #e5eaef !important;
}
.b-l-8 {
  border-left: 8px solid #e5eaef !important;
}
.b-r-0 {
  border-right: 0 !important;
}
.b-r-1 {
  border-right: 1px solid #e5eaef !important;
}
.b-r-2 {
  border-right: 2px solid #e5eaef !important;
}
.b-r-4 {
  border-right: 4px solid #e5eaef !important;
}
.b-r-8 {
  border-right: 8px solid #e5eaef !important;
}
.rounded-0 {
  border-radius: 0 !important;
}
.rounded-7 {
  border-radius: 7px !important;
}
.rounded-8 {
  border-radius: 14px !important;
}
.rounded-12 {
  border-radius: 21px !important;
}
.rounded-16 {
  border-radius: 28px !important;
}
.rounded-full {
  border-radius: 9999px !important;
}
.r-t-l-0 {
  border-top-left-radius: 0 !important;
}
.r-t-l-7 {
  border-top-left-radius: 7px !important;
}
.r-t-l-8 {
  border-top-left-radius: 14px !important;
}
.r-t-l-12 {
  border-top-left-radius: 21px !important;
}
.r-t-l-16 {
  border-top-left-radius: 28px !important;
}
.r-t-l-full {
  border-top-left-radius: 9999px !important;
}
.r-t-r-0 {
  border-top-right-radius: 0 !important;
}
.r-t-r-7 {
  border-top-right-radius: 7px !important;
}
.r-t-r-8 {
  border-top-right-radius: 14px !important;
}
.r-t-r-12 {
  border-top-right-radius: 21px !important;
}
.r-t-r-16 {
  border-top-right-radius: 28px !important;
}
.r-t-r-full {
  border-top-right-radius: 9999px !important;
}
.r-b-r-0 {
  border-bottom-right-radius: 0 !important;
}
.r-b-r-7 {
  border-bottom-right-radius: 7px !important;
}
.r-b-r-8 {
  border-bottom-right-radius: 14px !important;
}
.r-b-r-12 {
  border-bottom-right-radius: 21px !important;
}
.r-b-r-16 {
  border-bottom-right-radius: 28px !important;
}
.r-b-r-full {
  border-bottom-right-radius: 9999px !important;
}
.r-b-l-0 {
  border-bottom-left-radius: 0 !important;
}
.r-b-l-7 {
  border-bottom-left-radius: 7px !important;
}
.r-b-l-8 {
  border-bottom-left-radius: 14px !important;
}
.r-b-l-12 {
  border-bottom-left-radius: 21px !important;
}
.r-b-l-16 {
  border-bottom-left-radius: 28px !important;
}
.r-b-l-full {
  border-bottom-left-radius: 9999px !important;
}
.r-t-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.r-t-7 {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}
.r-t-8 {
  border-top-left-radius: 14px !important;
  border-top-right-radius: 14px !important;
}
.r-t-12 {
  border-top-left-radius: 21px !important;
  border-top-right-radius: 21px !important;
}
.r-t-16 {
  border-top-left-radius: 28px !important;
  border-top-right-radius: 28px !important;
}
.r-t-full {
  border-top-left-radius: 9999px !important;
  border-top-right-radius: 9999px !important;
}
.r-b-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.r-b-7 {
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}
.r-b-8 {
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}
.r-b-12 {
  border-bottom-left-radius: 21px !important;
  border-bottom-right-radius: 21px !important;
}
.r-b-16 {
  border-bottom-left-radius: 28px !important;
  border-bottom-right-radius: 28px !important;
}
.r-b-full {
  border-bottom-left-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
}
.r-l-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.r-l-7 {
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}
.r-l-8 {
  border-top-left-radius: 14px !important;
  border-bottom-left-radius: 14px !important;
}
.r-l-12 {
  border-top-left-radius: 21px !important;
  border-bottom-left-radius: 21px !important;
}
.r-l-16 {
  border-top-left-radius: 28px !important;
  border-bottom-left-radius: 28px !important;
}
.r-l-full {
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}
.r-r-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.r-r-7 {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}
.r-r-8 {
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}
.r-r-12 {
  border-top-right-radius: 21px !important;
  border-bottom-right-radius: 21px !important;
}
.r-r-16 {
  border-top-right-radius: 28px !important;
  border-bottom-right-radius: 28px !important;
}
.r-r-full {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
}
.f-s-0 {
  font-size: 0 !important;
}
.f-s-10 {
  font-size: 10px !important;
}
.f-s-12 {
  font-size: 12px !important;
}
.f-s-14 {
  font-size: 14px !important;
}
.f-s-15 {
  font-size: 15px !important;
}
.f-s-16 {
  font-size: 16px !important;
}
.f-s-18 {
  font-size: 18px !important;
}
.f-s-20 {
  font-size: 20px !important;
}
.f-s-24 {
  font-size: 24px !important;
}
.f-s-30 {
  font-size: 30px !important;
}
.f-s-36 {
  font-size: 36px !important;
}
.f-w-100 {
  font-weight: 100 !important;
}
.f-w-200 {
  font-weight: 200 !important;
}
.f-w-300 {
  font-weight: 300 !important;
}
.f-w-400 {
  font-weight: 400 !important;
}
.f-w-500 {
  font-weight: 500 !important;
}
.f-w-600 {
  font-weight: 600 !important;
}
.f-w-700 {
  font-weight: 700 !important;
}
.f-w-800 {
  font-weight: 800 !important;
}
.f-w-900 {
  font-weight: 900 !important;
}
.font-italic {
  font-style: italic !important;
}
.font-normal {
  font-style: normal !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-none {
  text-decoration: none !important;
}
.text-underline {
  text-decoration: underline !important;
}
.text-line-through {
  text-decoration: line-through !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}
.text-ellipsis {
  text-overflow: ellipsis !important;
}
.text-reset {
  color: inherit !important;
}
.text-current {
  color: currentColor !important;
}

.m-r-6 {
  margin-right: 7px !important;
}

.blank-layout-container {
  height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
}
.auth-title {
  font-size: 36px;
  line-height: 44px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 50% 0%;
  }
}
.img-height {
  height: calc(100vh - 83px);
}
.custom-row.row {
  margin-right: -8px;
  margin-left: -8px;
}
.custom-row.row .col-2,
.custom-row.row .col-12 {
  padding-right: 8px;
  padding-left: 8px;
}
.or-border {
  position: relative;
  text-align: center;
}
.or-border:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100px;
  top: 50%;
  height: 1px;
  background: #e5eaef;
}
.or-border:after {
  content: "";
  position: absolute;
  right: 0;
  width: 100px;
  top: 50%;
  height: 1px;
  background: #e5eaef;
}
.boxed-auth {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}
.max-width-form {
  max-width: 450px;
}
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__trailing {
  border-color: #fc4b6c !important;
}
.error-msg {
  position: absolute;
  top: -19px;
  right: 3px;
}
.container {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}
.container.full-width {
  display: flex;
  align-items: center;
  width: 100%;
}
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
.mat-mdc-unelevated-button,
.mat-mdc-outlined-button {
  font-family: Poppins, sans-serif !important;
}

.text-error {
  font-family: Poppins, sans-serif !important;
  font-size: 12px;
  color: #fc4b6c !important;
  margin-top: 4px;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.cdk-overlay-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-overlay-pane {
  background: white;
  border-radius: 8px;
}

.mat-subtitle-1 {
  line-height: 26px;
  letter-spacing: normal;
  color: #2a3547;
}

.d-align {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo {
  max-width: 168px;
}
.mat-mdc-menu-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  padding-left: var(--mat-menu-item-leading-spacing);
  padding-right: var(--mat-menu-item-trailing-spacing);
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  background: none;
  text-decoration: none;
  margin: 0;
  align-items: center;
  min-height: 48px;
  font-family: Poppins;
  letter-spacing: normal;
  margin: 0;
  color: #2a3547;
}

mat-list:hover {
  background-color: #f5f5f5;
}

.bg-primary {
  background: #1e88e5!important;
}
.text-white {
  color: #fff;
}

.new-badge {
  position: absolute;
  top: 18px;
  right: 33px;
}
.text-primary {
  color: #1e88e5 !important;
}

.mat-mdc-outlined-button.mat-warn {
  --mdc-outlined-button-label-text-color: #e91e63;
  --mdc-outlined-button-outline-color: rgba(0, 0, 0, .12);
  --mat-outlined-button-state-layer-color: #e91e63;
  --mat-outlined-button-ripple-color: rgba(233, 30, 99, .1);
  border-color: #e91e63!important;
}